_site
.bundle

# Large media files
assets/video/
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.glb
*.gltf
*.zip
*.tar.gz
.DS_store
.idea
.jekyll-cache
.jekyll-metadata
.ruby-version
.sass-cache
.tweet-cache
.venv
assets/libs/
assets/rendercv/rendercv_output/*.typ
Gemfile.lock
node_modules/
vendor